@media screen and (max-width: 460px){

    form {
        width: 100%;

    }
    p {
        width: 100%;
    }

    main img {
        max-width: 100%;
    }

    header {
        margin-left: 0px;
    }
}