@charset

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

body{
    background-color: rgb(230, 230, 230);
    font-family: 'Montserrat', sans-serif;
    max-width: 1200px;
    margin: auto;
    padding: 15px;
}

header {
    display: flex;
    flex-direction: row; /*Para meu header irá seguir o fluxo de linha e não de coluna*/
    justify-content: space-around;
    align-items: center;
}

header img {
    max-width: 125px;
}

a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    color:white;
    background-color: rgb(25, 25, 134);
    transition: 0.3s all;
    padding: 5px;
    border-radius: 20px;
}

#inscreva-se {
    border: 2px solid rgb(25, 25, 134);
    padding: 5px;
    border-radius: 20px;

}

li {
    display: inline-block;
    margin: 20px;
    text-decoration: none;
}

main {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
}

h2 {
    font-size: 56px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    max-width: 500px;
}

.titulo {
    color: rgb(25, 25, 134);
    font-weight: 680;
    
}

span > h2 {
    font-weight: 750;
}

p {
    max-width: 500px;
    line-height: 25px;
    margin-top: -15px;
    text-align: justify;
}

main img {
    max-width: 550px;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

input {
    margin-top: 10px;
    padding: 15px;
    border-radius: 20px;
    border: none; 
}

form [type="submit"]{
    width: 50%;
    background-color:rgb(25, 25, 134);
    color: white;
    font-weight: 600;
}
